@font-face{
	font-family: curls;
	src: url(curls.ttf);
}

@font-face{
	font-family: simple;
	src: url(GeosansLight.ttf);
}

body{
	font-family: simple;
	padding: 0;
	margin: 0;
}

#inspage{
	background-image: url("background2.svg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 100%;
	height: 100vh;
	max-height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
}

#sign_up{
	background-image: url("background.svg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     width: 100vw;
    max-width: 100%;
	height: 100vh;
	max-height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
}

.beans{
	background-image: url("background_plain.svg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 100%;
	height: 100vh;
	max-height: 100%; 
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
}

h1{
	font-family: curls;
	color: rgba(0,0,0,0.7);
	text-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	font-size: 6em;
	margin-bottom: 8%;
	margin-left: 20%;
	margin-top: 20%;
	color: white;
}

h2{
	
	z-index: 10;
	position: relative;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.2);
	font-size: 5em;
	color: #EE2C7B;
	text-align: center;
	padding: 3%;
}


div.buttons, input, #submit_but{
	padding-top: 3%; 
	padding-bottom: 3%;
	font-size: 1.1em;
	cursor: pointer;
	background-color: white;
	border-radius: 30px;
	box-shadow: 1px 2px 7px rgba(100,100,100,0.2);
	margin-bottom: 3%;
	border: 1px solid white;
	text-align: center;
	width: 100%;
	color: black;

}


input:focus{
	border: none;
}

a{
	text-decoration: none;
	color: grey;
	font-size: 1.1em;
}

a:hover{
	color: black;
	text-decoration: none;
}

#form_outline{
	text-align: center;
	height: 60vh;
	margin-top: 20vh; 
}

#form_outline_login{
	text-align: center;
	height: 70vh;
	margin-top: 15vh; 
}

#form_outline_signup{
	text-align: center;
	height: 70vh;
	margin-top: 8vh; 
}

#form_outline_newJelly{
	text-align: center;
	height: 30vh;
	margin-top: 75vh; 
}

.email_signup{
	margin-left: 25%;
}

.pass_signup{
	margin-left: 45%;
}

.submit_signup{
	margin-left: 55%;
}


.button_images{
	width: 2.5vw;
	margin-right: 10%;
}

.nav{
	background: none;
	text-align: center;
	width: 8%;
	position: fixed;
	z-index: 10;
}

.links{
	height: 10vh;
	width: 100%;
	margin-top: 7vh;
	border-bottom: 1px solid rgba(100,100,100,0.2);
}



#sideNav{
	position: fixed;
	background-color: white;
	height: 100vh;
	max-height: 100%;
	box-shadow: 2px 0px 10px 2px rgba(100,100,100,0.2);
}

#graph_div{
	background-color: white;
	height: 45vh;
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
}

.graphs{
	height: 35vh;
	width: 80%;
	margin-left: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.list_div{
	background-color: white;
	text-align: center;
	padding: 2%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	padding-bottom: 7%;
}

#comments-div{
	background-color: white;
	height: 36vh;
	padding: 2%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
}

.bean_logo{
	margin-top: -6vh;
	width: 100%;
}

.card{
	margin-bottom: 5%;
	height: 50vh;
	cursor: pointer;
}

.row .col-lg-10{
	margin-left: 12%;
}

.curly{
	font-family: curls;
}

.bean_pic_mang{
	height: 35vh;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-left: 10%;
	background-color: red;
}

#bean_homepage{
	text-align: center;
	position: fixed;
	margin-left: 7%;
}

#big_bean_homepage{
	width: 100%;
	height: 85vh;
	position: relative;
	z-index: 2;
}

h4{
	font-weight: bold;
	font-size: 0.9em;
}

.buttons{
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	padding: 3%;
	padding-right: 5%;
	padding-left: 5%;
	border-radius: 30px;
	cursor: pointer;
	color: black;
}

.buttons:hover{
	color: grey;
	transition: color 2s ease-out;
}

.bean_background{
	height: 100vh;
	max-height: 100%;
	width: 100vw;
	max-width: 100%;
	position: relative;
	z-index: 3;
	margin-top: -100%;
}

.front_bean{
	width: 65%;
	margin-top: 2%;
	position: relative;
	z-index: 3;
}

.front_bean_shaddow{
	width: 65%;
	position: relative;
	z-index: 2;
	margin-top: -85%;
	opacity: 0.3;
}

.new_bean_front{
	width: 80%;
	position: relative;
	z-index: 3;
	margin-top: 10%;
}

.new_bean_front_shaddow{
	position: relative;
	z-index: 2;
	margin-top: -130%;
	width: 80%;
	opacity: 0.3;
	margin-bottom: 5%;
}

.color_bean{
	border-radius: 50%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	width: 4vw;
	height: 4vw;
	margin-bottom: 30%;
	cursor: pointer;
}

.type_bean{
	border-radius: 50%;
	box-shadow: 2px 5px 10px rgba(100,100,100,0.2);
	width: 4vw;
	height: 4vw;
	margin-bottom: 30%;
	cursor: pointer;
}

.point_active{
	border: 2px solid #58585B;
}

#pink{
	background: #e30482; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #e30482 0%, #d60470 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #e30482 0%,#d60470 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #e30482 0%,#d60470 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#orange{
	background: #df8604; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #df8604 0%, #d17404 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #df8604 0%,#d17404 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #df8604 0%,#d17404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#green{
	background: #69df04; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #69df04 0%, #60c904 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #69df04 0%,#60c904 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #69df04 0%,#60c904 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#blue{
	background: #04a2db; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #04a2db 0%, #008cc4 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #04a2db 0%,#008cc4 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #04a2db 0%,#008cc4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#hipster{
	background-image: url("/images/hipster_bean.svg"); /* The image used */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
 	opacity: 0.8;
}

#normal{
	background-image: url("/images/normal_bean.svg"); /* The image used */
  	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
 	opacity: 0.8;
}

.choices{
	margin-left: 15%;
	margin-top: 7%;
}

#bean_type_choices{
	margin-top: 13%;
	margin-right: 5%;
}

.modal-content{
	background: none;
	border: none;
	text-align: center;
	position: relative;
	z-index: 5;
	margin-top: 20%;
}

.dates{
	width: 25%;
	display: inline;
	margin-right: 5%;
}

.personal_form{
	padding-left: 20%;
	padding-right: 20%;
	position: relative;
	z-index: 5;
}

.heading_form{
	font-size: 1.3em;
	font-weight: bold;
	color: white;
	position: relative;
	z-index: 5;
}
